.my-certificate {
  max-width: 800px;
}

.btn-voltar {
  gap: 6px;
  cursor: pointer;
}

.btn-voltar p {
  font-weight: 600px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #64748b;
}

.btn-voltar i {
  font-weight: 600px;
  color: #64748b;
}

.certificate {
  position: relative;
  margin-top: 32px;
  background-image: url('../../../../public/certificate/Certificate_BG.png');
  width: 800px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}

.certificate-content {
  position: relative;
  width: 720px;
  height: 470px;
  background-color: white;
  border-radius: 8px;
}

.certificate-content p {
  margin: 0;
}

.medal-icon {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}

.certificate-info {
  margin: 64px 40px 48px 40px;
  gap: 20px;
}

.certificate-title-subtitle h1 {
  text-align: center;
  font-weight: 900px;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 2.4px;
  color: #1a2856;
}

.certificate-title-subtitle p {
  font-weight: 400px;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  color: #121621;
}

.student-name {
  font-family: 'Dancing Script', cursive;
  font-weight: 700px;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 0;
  text-align: center;
  color: #3b5ac2;
}

.activity-list {
  width: 413.7px;
}

.activity-list-title {
  font-weight: 400px;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
  margin-bottom: 8px !important;
}

.activity-list {
  font-weight: 400px;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
}

.emitted-date {
  font-weight: 700px;
  font-size: 11.2px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
}

.certificate-signature {
  position: absolute;
  bottom: 24px;
  right: 40px;
  width: 64px;
  height: 64px;
}
