.error-message {
  gap: 4px;
  color: #D71D1D;
  margin-top: 8px;
}

.error-message p {
  font-weight: 400px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #D71D1D;
}
